In [36]:
import os
import csv
import pandas as pd

with open(os.path.join("data", "sloganlist.csv"), "r") as f:
    data = [line for line in csv.reader(f)]
    
df = pd.DataFrame(data[2:], columns=data[0])
df.head()

     Company                                             Slogan
0      Evian                                 Evian. Live young.
1     Dasani                     Designed to make a difference.
2   Heineken                           It's all about the beer.
3   Gatorade                              The Legend Continues.
4  TÃ­o Pepe  Good food tastes better after a glass of Tio Pepe

In [101]:
import recordlinkage
from recordlinkage.index import Full
from recordlinkage.index import SortedNeighbourhood

indexer = recordlinkage.Index()
indexer.add(SortedNeighbourhood('Company'))
candidate_links = indexer.index(df)

c = recordlinkage.Compare()
c.string('Company', 'Company', method='cosine')
c.string('Slogan', 'Slogan', method='damerau_levenshtein')
feature_vectors = c.compute(candidate_links, df)

print(feature_vectors)

                  0         1
951  944   0.544331  0.166667
991  944   0.544331  0.166667
1031 944   0.544331  0.166667
1071 944   0.544331  0.166667
1111 944   0.544331  0.166667
...             ...       ...
1135 209   0.178174  0.242424
1136 1014  0.583333  0.241379
1137 1010  0.204124  0.137931
1138 782   0.084515  0.157895
1140 520   0.084515  0.136364

[11713 rows x 2 columns]

In [108]:
feature_vectors['composite'] = feature_vectors[0] + feature_vectors[1]

feature_vectors.loc[
    (feature_vectors[0] >= .7) & (feature_vectors[0] < .99)].sort_values(
    by=0, ascending=False)

                 0         1  composite
98   54   0.800641  0.205882   1.006523
902  796  0.800327  0.192308   0.992634
294  6    0.770054  0.130435   0.900488
865  753  0.755929  0.444444   1.200373
1136 662  0.720577  0.260870   0.981446
498  334  0.707107  0.125000   0.832107

In [114]:
print(df.iloc[498])
print(df.iloc[334])

Company               Canadian Mist
Slogan     Grip it. Tip it. Sip it.
Name: 498, dtype: object
Company             Canadian Club
Slogan     âNo ordinary Whisky.
Name: 334, dtype: object

In [115]:
import abc